body{
  font-family: Arial;
  background: linear-gradient(to right,#141e30,#243b55);
  color:white;
  text-align:center;
}

input,button{
  padding:10px;
  border-radius:5px;
  border:none;
}

button{
  background:#ff9800;
  cursor:pointer;
}

.movies{
  display:grid;
  grid-template-columns:repeat(auto-fit,150px);
  gap:20px;
  justify-content:center;
  margin-top:20px;
}

.card{
  background:#1f2a40;
  padding:10px;
  border-radius:10px;
  cursor:pointer;
}

.card img{
  width:100%;
  border-radius:10px;
}

.booking{
  display:none;
  background:#243b55;
  width:250px;
  padding:20px;
  margin:20px auto;
  border-radius:10px;
}